body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    overflow: unset;
    scrollbar-base-color: #C0C0C0;
    scrollbar-base-color: #C0C0C0;
    scrollbar-3dlight-color: #C0C0C0;
    scrollbar-highlight-color: #C0C0C0;
    scrollbar-track-color: #EBEBEB;
    scrollbar-arrow-color: black;
    scrollbar-shadow-color: #00ff86;
    scrollbar-dark-shadow-color:#C0C0C0;
}

::-webkit-scrollbar-track {
    background-color: #1d1d1d;
}

::-webkit-scrollbar {
    width: 5px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #00fcb0;
    border:solid 2px #1d1d1d;
}

.fa-github:hover{
    transition: 0.8s;
    transform:scale(1.2);
}
.fa-linkedin-in:hover{
    transition: 0.8s;
    transform:scale(1.2);
}

